html, body {
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  border-color: #f0f0f0;
  min-height: 200px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #00008b; }

.carousel-inner .carousel-item {
  transition: .5s;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in; }

.bg-img {
  background: url("../images/pngtree-black.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content; }

a:nth-child(2) {
  float: right; }
